<div class="row">
    <div class="col l12 m12 s12">
        <div class="termynal">
            <span class="hiddenText" data-ty="">Bienvenue sur mon site !</span>
            <span class="hiddenText" data-ty=""></span>
            <span class="hiddenText" data-ty="input">let profileData = [];</span>
            <span class="hiddenText" data-ty="input">insertProfileData(profileData);</span>
            <span class="hiddenText" data-ty="input">displayProfileData(profileData);</span>
            <span class="hiddenText" data-ty=""></span>
            <span class="hiddenText" data-ty="">Affichage des données ...</span>
            <span class="hiddenText" data-ty=""></span>
            <span class="hiddenText" data-ty="">Bonjour, je m'appelle Lilian Goupil, je suis actuellement étudiant en développement informatique.</span>
            <span class="hiddenText" data-ty="">Au cours des mes étdudes j'ai appris le développement web ainsi que le développement mobile.</span>
            <span class="hiddenText" data-ty="">Titulaire d'un BTS Services Informatiques aux Organisations.</span>
            <span class="hiddenText" data-ty="">Je cherche à continuer mes études dans le développement mobile.</span>
            <span class="hiddenText" data-ty="">J'aimerais intégrer le marché du travail en tant que développeur mobile Android.</span>
            <span class="hiddenText" data-ty="">Sur mon site vous pourrez retrouver tout mon parcours scolaire ainsi que professionnel.</span>
            <span class="hiddenText" data-ty="">Je présente également de certains de mes projets personnels.</span>
        </div>
    </div>
</div>

<!-- Loading Termynal CSS -->
<link rel="stylesheet" href="app/view/assets/css/termynal.css">
<!-- Loading Termynal JavaScript -->
<script>
    // Loading the needed JavaScript file.
    $.getScript(urlHomeJS);
</script>