<div class="row">
    <div class="col l12 m12 s12">
        <div class="termynal">
            <span class="hiddenText" data-ty="">Bienvenue sur mon site !</span>
            <span class="hiddenText" data-ty=""></span>
            <span class="hiddenText" data-ty="input">let data = getProfileData();</span>
            <span class="hiddenText" data-ty="input">display(data);</span>
            <span class="hiddenText" data-ty=""></span>
            <span class="hiddenText" data-ty="">Affichage des données ...</span>
            <span class="hiddenText" data-ty=""></span>
            <span class="hiddenText" data-ty="">Bonjour, je m'appelle Lilian GOUPIL, je suis actuellement en formation CDA (Concepteur Développeur d'Applications).</span>
            <span class="hiddenText" data-ty="">Récemment diplômé d'un BTS SIO (Services Informatiques aux Organisations).</span>
            <span class="hiddenText" data-ty="">Je continue de me former dans le développement avec une formation CDA au sein de Human Booster.</span>
            <span class="hiddenText" data-ty="">Au cours des mes études j'ai pû pratiquer le développement web, logiciel et Android.</span>
            <span class="hiddenText" data-ty="">En utilisant divers langages comme Java, JavaScript ES6, PHP7, HTML5, CSS3 et frameworks comme Synfony, Angular ou ElectronJS.</span>
            <span class="hiddenText" data-ty="">Après m'être formé, je souhaite intégrer le marché du travail en tant que développeur web.</span>
            <span class="hiddenText" data-ty="">Sur mon site vous pourrez retrouver tout mon parcours de formation ainsi que mes expériences professionnelles.</span>
            <span class="hiddenText" data-ty="">Je présente également certains de mes projets personnels.</span>
        </div>
    </div>
</div>

<!-- Loading Home CSS -->
<link href="app/view/assets/css/home.css" rel="stylesheet">
<!-- Loading Termynal CSS -->
<link rel="stylesheet" href="app/view/assets/css/termynal.css">
<!-- Loading Termynal JavaScript -->
<script>
    // Loading the needed JavaScript file.
    $.getScript(urlHomeJS);
</script>