<div class="row">
    <div class="col l12 m12 s12 center darkThemeText">
        <h3>Mes projets personnels</h3>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header darkTheme">2018 - Plateforme de devoirs en ligne</div>
                <div class="collapsible-body">
                    <p>
                        <h4>Résumé</h4>
                        <br><br>
                        Mon premier projet personnel encadré dans le cadre de la première année mon BTS SIO.
                        <br><br>
                        Le projet était de créer une plateforme de devoirs surveillés en ligne. 
                        Les utilisateurs étaient soit éléves, soit professeurs. Un professeur pouvait créer 
                        un devoir avec plusieurs questions et ensuite le mettre en ligne avec une date limite de rendu.
                        <br><br>
                        Les élèves devaient ensuite répondre aux questions du devoir, après s'être connectés, 
                        dans la limite du temps impartis.
                        <br><br>
                        Les réponses étaient ensuite accessibles au professeur ayant créé le devoir et ce dernier les marquaient 
                        comme correctes ou non.
                        <br><br>
                        Les élèves pouvaient ensuite consulter leur note et le correction du devoir sur la plateforme.
                        <br><br>
                        <h4>Technique</h4>
                        Le site est majoritairement codé en PHP avec un peu de JavaScript.
                        <br><br>
                        L'authentification des utilisateurs est sécurisée et toutes les données stockées
                        sur une base de données MySQL.
                        <br><br>
                        Le design et l'ergonomie du site étaient des points très importants afin de garantir une utilisation fluide.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">2019 - Forum</div>
                <div class="collapsible-body">
                    <p>
                        <img class="materialboxed" src="app/view/assets/images/forumConnect.jpg" style="width: 100%;">
                        <br><br>
                        <h4>Résumé</h4>
                        <br><br>
                        Mon second projet personnel encadré dans le cadre de ma première année de BTS SIO.
                        <br><br>
                        Le but de projet était simplement de créer un forum en utilisant un outil WYSIWYG 
                        (What You See Is What You Get), afin de pouvoir échanger avec nos commarades sur les sujets 
                        de nos choix.
                        <br><br>
                        <img class="materialboxed" src="app/view/assets/images/forumWysiwyg.jpg" style="width: 100%;">
                        <br><br>
                        Le forum est séparé en plusieurs catégories. Des fonctionnalités d'aministration sont également 
                        disponibles.
                        <br><br>
                        <img class="materialboxed" src="app/view/assets/images/forumCategories.jpg" style="width: 100%;">
                        <br><br>
                        Un message peut être modifié par l'utilisateur l'ayant posté. Un message peut également être 
                        supprimé par son propriétaire ou par un administrateur. Les administrateurs ont également la 
                        possibilité de bannir les utilisateurs, d'ouvrir ou fermer des sujets ou de supprimer ces derniers.
                        <br><br>
                        <img class="materialboxed" src="app/view/assets/images/forumDemo.jpg" style="width: 100%;">
                        <br><br>
                        <h4>Technique</h4>
                        Le site est majoritairement codé en PHP et JavaScript (JQuery et AJAX).
                        <br><br>
                        Le forum a demandé un énorme travail sur l'ergonomie et le design, afin de garantir 
                        une utilisation agréable et fluide. C'est la raison pour laquelle le site utilise beaucoup 
                        de JavaScript, pour avoir un affichage plus fluide sans recharger les pages.
                        <br><br>
                        La sécurisation des sujets fermés est également importante. Beaucoup de vérifications sont 
                        faites lors du l'envois d'un message pour vérifier si ce dernier peut être envoyé.
                        <br><br>
                        Les fonctionnalités administrateur sont totalement gérés en JavaScript avec AJAX, tout comme l'envoi 
                        de messages. Seulement la création de sujet est gérée en PHP.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">2019 - Application web offline de gestion de tâches</div>
                <div class="collapsible-body">
                    <p>
                        <h4>Résumé</h4>
                        <br><br>
                        Au cours de mon permier stage dans le cadre de mon BTS SIO, 
                        j’ai eu l’occasion de développer entièrement une application dans le but de faciliter la gestion des tâches de l’entreprise. 
                        <br><br>
                        L’application devait être la plus rapide possible, mais également la plus ergonomique, 
                        le design visuel de l’application a donc été sacrifié pour garder une lisibilité maximale. 
                        <br><br>
                        Le but de l'application était de pouvoir créer des tâches lorsque l'entreprise recevait une nouvelle commande ou 
                        demande de la part d'un client. Une tâche pouvait être créée sur l'application, cette tâche était reliée au client 
                        ainsi qu'à la machine correspondante si c'était le cas.
                        <br><br>
                        L'application permettait de définir des tâches urgentes ou encore d'archiver les tâches terminées. 
                        L'objectif principal de l'application était de faciliter le suivi des tâches en cours avec la possiblité de rajouter 
                        des notes au tâches et d'avoir les informations du client à portée de main.
                        <br><br>
                        <h4>Technique</h4>
                        <br><br>
                        L’application est codée en JavaScript, JQuery et AJAX (PHP). 
                        L'application communique avec une base de données locale afin de sauvegarder les tâches 
                        et informations des clients.
                        <br><br>
                        L'application devait être ergonomique et rapide, lors du développement ces deux critères 
                        étaient primordiaux.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">2020 - Site commerçant fictif</div>
                <div class="collapsible-body">
                    <p>
                        <img class="materialboxed" src="app/view/assets/images/gsbHeader.jpg" style="width: 100%;">
                        <br><br>
                        <h4>Résumé</h4>
                        <br><br>
                        Le projet personnel encadré principal de ma seconde année de BTS SIO.
                        Le projet consistait à créer un site web d'e-commerce fictif.
                        Etant un site d'e-commerce, ce dernier doit être travaillé visuellement et 
                        agréable à l'oeil.
                        <br><br>
                        <img class="materialboxed" src="app/view/assets/images/gsbCarousel.jpg" style="width: 100%;">
                        <br><br>
                        Le site propose différents articles possédants des catégories et des étiquettes. 
                        Les catégories et étiquettes permettent de trier les produits ou d'afficher plus de résultats 
                        lors d'une recherche avec la barre de recherche proposée en en-tête du site.
                        <br><br>
                        <img class="materialboxed" src="app/view/assets/images/gsbCategories.jpg" style="width: 100%;">
                        <br><br>
                        Le site doit permettre une navigation claire entre les produits, c'est pour cela qu'un 
                        fil d'ariane est affiché en haut de page et que les catégories et étiquettes des produits 
                        permettent de trouver les autres produits ayant ces dernières.
                        <br><br>
                        <img class="materialboxed" src="app/view/assets/images/gsbProduct.jpg" style="width: 100%;">
                        <br><br>
                        <h4>Technique</h4>
                        <br><br>
                        Le site est majoritairement codé en PHP et JavaScript (JQuery et Materialize) pour permettre 
                        une utilisation fluide. 
                        Les informations du site sont stockées sur une base de données permettant la construction 
                        dynamique des différents pages.
                        <br><br>
                        Le panier du client est stocké via un cookie permettant au client de conserver son panier. 
                        Un client peut également demander à être alerté lors de la remise en stock d'un produit, 
                        si ce dernier est en rupture de stock, ce dernier recevra une notification sur le site lors 
                        de la remise en stock du produit.
                        <br><br>
                        Un client peut également modifier ces informations sur un panneau dédié. Ce dernier peut 
                        renseigner de nouvelles adresses ou changer ses informations de connexion.
                        <br><br>
                        Le site dispose d'un backoffice permettant aux administateurs du site de modifier des produits, 
                        d'en ajouter ou d'en supprimer. Ils peuvent également modifier les catégories ou les étiquettes, 
                        en créer ou en supprimer. Les administrateurs peuvent également consulter les commandes en cours 
                        ou passées, ils peuvent également consulter les statistiques du site.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">2020 - Portfolio</div>
                <div class="collapsible-body">
                    <p>
                        <img class="materialboxed" src="app/view/assets/images/portfolioHome.jpg" style="width: 100%;">
                        <br><br>
                        <h4>Résumé</h4>
                        <br><br>
                        Vous êtes actuellement sur mon Portfolio ! Je n'ai donc pas grand chose à expliquer. 
                        Le concept du site est de mettre en avant ma formation ainsi que mes expériences.
                        <br><br>
                        Le site a été réalisé en deux grosses journées de programmation.
                        <br><br>
                        <h4>Technique</h4>
                        <br><br>
                        Le site est géré totalement en JavaScript avec JQuery et Materialize. 
                        Les données du site sont codées directement dans différents fichiers HTML chargés lors 
                        d'un changement de page.
                        <br><br>
                        Pour la console en page d'accueil, il s'agit de Termynal, un outil qui permet la création de ce genre 
                        d'animation facilement.
                        <br><br>
                        <img class="materialboxed" src="app/view/assets/images/portfolioConsole.jpg" style="width: 100%;">
                        <br><br>
                        Le changement du mode sombre au mode clair est fait en changeant les classes des différents 
                        éléments pour s'adapter au thême sélectionné. Lors du changement de page, le menu est analysé 
                        pour trouver le thême actif et l'appliquer au nouveau contenu chargé.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Loading Personnal CSS -->
<link href="app/view/assets/css/personnal.css" rel="stylesheet">
<!-- Loading Personnal JavaScript -->
<script>
    // URL of the JavaScript file used for this page.
    urlPersonnalJS = "app/view/assets/js/personnal.js"

    // Loading the needed JavaScript files.
    $.getScript(urlPersonnalJS);
</script>