<div class="row">
    <div class="col l12 m12 s12 center darkThemeText">
        <h3>Mes expériences professionnelles</h3>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header darkTheme">Septembre à Décembre 2016 - Service Civique</div>
                <div class="collapsible-body">
                    <p>
                        Mission en Service Civique de 3 mois dans un collège. Ma mission était de
                        venir en aide aux élèves en décrochage scolaire ainsi qu'assister l'équipe
                        éducative.
                        <br><br>
                        Ce Service Civique m'a permis de développer mon esprit d'équipe ainsi que
                        d'apprendre à mieux gérer le temps accordé à chaque projet.

                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">Juin à Juillet 2019 - Stage 1ère année BTS SIO</div>
                <div class="collapsible-body">
                    <p>
                        Stage de 5 semaines dans le cadre de ma première année de BTS SIO.
                        <br><br>
                        J'ai effectué ce stage au sein de l'entreprise CG-Net à Saint-Flour.
                        <br><br>
                        Durant ce stage j'ai découvert l'aspect professionnel de ma formation.
                        J'ai eu l'opportunité de développer une application web offline de gestion
                        de tâches pour l'entreprise d'accueil.

                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">Janvier à Février 2020 - Stage 2ème année BTS SIO</div>
                <div class="collapsible-body">
                    <p>
                        Stage de 7 semaines dans le cadre de ma seconde année de BTS SIO.
                        <br><br>
                        J'ai effectué ce stage au sein de l'entreprise Blizz à Clermont-Ferrand.
                        <br><br>
                        Durant ce stage j'ai pu approfondir mes connaissances professionnelles. Mes
                        missions étaient la création de maquettes pour une application Android ainsi que
                        l'entretient, la refonte, et le création de sites WordPress.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Loading Professional CSS -->
<link href="app/view/assets/css/professional.css" rel="stylesheet">
<!-- Loading Professional JavaScript -->
<script>
    // URL of the JavaScript file used for this page.
    urlProfessionalJS = "app/view/assets/js/professional.js"

    // Loading the needed JavaScript files.
    $.getScript(urlProfessionalJS);
</script>