<div class="row">
    <div class="col l12 m12 s12 center darkThemeText">
        <h3>Télécharger mon C.V</h3>
        <p style="margin-top: 5%;">
            <a class="waveswaves-effect waves-light btn-large" href="app/view/assets/files/Goupil_Lilian_CV.pdf" target="_blank">
                <i class="material-icons left">cloud_download</i>
                Ouvrir et télécharger
            </a>
        </p>
    </div>
</div>

<!-- Loading Resume JavaScript -->
<script>
    // URL of the JavaScript file used for this page.
    urlResumeJS = "app/view/assets/js/resume.js"

    // Loading the needed JavaScript files.
    $.getScript(urlResumeJS);
</script>