<div class="row">
    <div class="col l12 m12 s12 center darkThemeText">
        <h3>Mes études</h3>
        <ul class="collapsible expandable">
            <li>
                <div class="collapsible-header darkTheme">2017 / 2018 - DAEU B</div>
                <div class="collapsible-body">
                    <p>
                        Après avoir arrêté mes études afin de chercher une vocation me plaisant, 
                        j'ai décidé de retourner dans le système scolaire avec un DAEU B.
                        Le DAEU (Diplôme d'Accès aux Etudes Universitaires) est un diplôme de 
                        catégorie IV, équivalent au baccalauréat.
                        <br><br>
                        J'ai donc entamé ma formation au sein de l'UCA (Université Clermont Auvergne), 
                        à L'ESPE (École Supérieure du Professorat et de l'Education) de Chamalières.
                        <br><br>
                        Après l'obtention de mon diplôme avec mention bien, j'ai pu m'orienter vers des études de développement 
                        informatique. J'ai choisi de continuer mes études avec un BTS.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">2018 / 2020 - BTS SIO</div>
                <div class="collapsible-body">
                    <p>
                        Après mon DAEU, j'ai décidé de continuer mes études avec un BTS SIO 
                        (Services Informatiques aux Organisations).
                        <br><br>
                        C'est avec ce BTS que j'ai pu découvrir plus amplement le développement informatique et 
                        confirmer que c'est un domaine que j'apprécie particulièrement.
                        <br><br>
                        Lors de mon BTS j'ai eu l'opporunité d'acquérir beaucoup de compétences en développement ainsi qu'en gestion 
                        de bases de données MySQL. J'ai également pu apprendre les bases de la gestion de systèmes et de réseaux.
                        <br><br> 
                        Pour ce qui est du développement, j'ai pu travailler en développement web, logiciel et 
                        mobile. Pour cela j'ai utilisé plusieurs langages : Java (logiciel et mobile), PHP7, JavaScript ES6, 
                        HTML5 et CSS3.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header darkTheme">2020 / 2021 - Formation CDA</div>
                <div class="collapsible-body">
                    <p>
                        Après avoir obtenu mon BTS SIO, j'ai souhaitais monter en compétences et maîtriser une plus grande variété de technologies.
                        <br><br>
                        J'ai donc continuer ma formation au sein de Human Booster, à Clermont-Ferrand, par le biais de leur formation 
                        Concepteur Développeur d'Applications (CDA) qui propose un programme varié et complet.
                        <br><br>
                        Je vais donc pouvoir approfondir mes connaissances et compétences en développement web et Android grâce
                        aux différents langages et frameworks étudiés lors de la formation.
                        <br><br>
                        Cette formation me permet également de découvrir de façon détaillée la conception d'applications, du maquettage 
                        à la réalisation de différents diagrammes UML ou MCD afin de disposer d'une phase d'analyse solide.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- Loading Studies CSS -->
<link href="app/view/assets/css/studies.css" rel="stylesheet">
<!-- Loading Studies JavaScript -->
<script>
    // Loading the needed JavaScript files.
    $.getScript(urlStudiesJS);
</script>